{{define "team-single"}}

<div class="flex-grow">
  <div class="container mx-auto p-6">
    {{ with .Params.image }}
    <div class="flex justify-center mb-6">
      <img
        class="object-cover h-50 w-full sm:w-96 rounded"
        src="{{ .path }}"
        alt="{{ .alt }}"
      />
    </div>
    {{ end }}
    <h1 class="text-3xl font-bold text-white text-center">{{ .Title }}</h1>

    <div class="text-slate-100">{{ .Content }}</div>

    <div class="mt-8 flex justify-center">
      <div
        id="qr-code"
        class="bg-white p-3 rounded-lg shadow w-32 h-32 flex items-center justify-center"
      ></div>
    </div>
  </div>
</div>

{{ end }}
