{{ define "main" }}

<!-- Container for full-width image and text overlay -->
<div class="relative bg-slate-50">
  <!-- Added margin-bottom (mb-10) -->
  <!-- Full-width image -->
  <img
    src="/img/homepage-bg2.png"
    class="w-full h-auto"
    alt="synergy-services-background-image"
  />

  <!-- Text overlay -->
  <div
    class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2"
  >
    <h1 class="text-emerald-900 text-5xl">Synergy Services</h1>
    &nbsp;
    <h2 class="text-2xl md:text-4xl">
      <i>Empowering Total Solutions with Premium Efficiency</i>
    </h2>
  </div>
</div>
<div class="relative text-center bg-emerald-500">
  <h1 class="p-10 bg-emerald-800 text-zinc-50 text-3xl">Who we are</h1>
</div>
<h2 class="pb-10 px-10 sm:text-xl text-base bg-emerald-800 text-zinc-50">
  Synergy Services Company Limited has been recognized as a full-range service
  provider for all cooling tower owners and businesses. Designing, upgrading,
  and replacing cooling towers has been our expertise since 2006. In recent
  years, our services have expanded beyond cooling towers to include inspections
  and performance testing solutions for various industries, including
  petrochemical, chemical, sugar, pulp and paper, cement, and power generation.
  &nbsp;
</h2>

<div class="relative text-center p-4 bg-zinc-700">
  &nbsp;

  <h2 class="text-zinc-50 text-3xl">Our services</h2>
  &nbsp;

  <div class="flex flex-col sm:flex-row gap-4 justify-center">
    {{ range $key, $value := .Site.Taxonomies.services }} {{ range $value.Pages
    }}
    <div
      class="bg-emerald-700 hover:bg-emerald-800 my-4 flex flex-col items-center rounded relative md:w-1/4"
    >
      <img
        class="object-cover h-50 rounded sm:rounded-none sm:rounded-l"
        src="{{ .Params.image.path }}"
        alt="{{ .Params.image.alt }}"
      />
      <h2 class="p-4 text-slate-50 z-10 text-center">{{ .Title }}</h2>
    </div>
    {{ end }} {{ end }}
  </div>
</div>
<!-- Container for horizontal scroll snap -->
<div class="relative text-center bg-zinc-100">
  &nbsp;

  <h2 class="text-emerald-900 text-3xl">Our customers</h2>
  &nbsp;

  <!-- Wrapped in a container for alignment and padding -->
  <div
    id="scroll-container"
    class="flex overflow-x-scroll snap-x snap-mandatory md:scrollbar-hide"
  >
    {{ range .Site.Data.customers.images }}
    <div class="snap-center shrink-0 first:ml-0 last:mr-0 w-1/3 sm:w-1/12">
      <img src="{{ .src }}" alt="{{ .alt }}" class="w-full h-auto block p-4" />
    </div>
    {{ end }}
  </div>
</div>

{{ end }}
