{{ define "team" }}

<div class="mx-auto max-w-7xl p-10 mt-10">
  <h1 class="text-emerald-900 text-5xl">{{ .Title }}</h1>
  <p class="text-base">{{ .Content }}</p>

  {{ range $teamName, $team := .Site.Taxonomies.team }}

  <section class="mt-12">
    <h2 class="text-emerald-900 text-3xl mb-6 capitalize mt-4">
      {{ $teamName | humanize }}
    </h2>

    <div
      id="scroll-container"
      class="flex overflow-x-scroll snap-x snap-mandatory md:scrollbar-hide"
    >
      {{ range $team.Pages }}
      <div class="snap-center shrink-0 first:ml-0 last:mr-0 w-1/3 sm:w-1/6">
        <a href="{{ .Permalink }}" class="block h-full">
          <div class="p-4">
            <div
              class="bg-emerald-800 hover:bg-emerald-900 rounded-lg transition h-full flex flex-col overflow-hidden"
            >
              {{ with .Params.image }}
              <img
                src="{{ .path }}"
                alt="{{ .alt }}"
                class="w-full aspect-[4/3] object-cover"
              />

              {{ end }}
              <div class="p-4 text-slate-50 flex-grow">
                <h3 class="text-xl font-semibold">{{ .Title }}</h3>
                <p class="mt-2 text-sm leading-relaxed">{{ .Params.role }}</p>
              </div>
            </div>
          </div>
        </a>
      </div>
      {{ end }}
    </div>
  </section>

  {{ end }}
</div>

{{ end }}
