      <div class="bg-emerald-800 flex flex-wrap justify-around p-2">
        <a
          href="/about"
          class="flex justify-center w-1/3 md:w-auto text-gray-50"
          >About</a
        >
        <a
          href="/partner"
          class="flex justify-center w-1/3 md:w-auto text-gray-50"
          >Partners</a
        >
        <a
          href="/service"
          class="flex justify-center w-1/3 md:w-auto text-gray-50"
          >Services</a
        >
        <a
          href="/team"
          class="flex justify-center w-1/3 md:w-auto text-gray-50"
          >Our Team</a
        >
        <a
          href="/project"
          class="flex justify-center w-1/3 md:w-auto text-gray-50"
          >Projects</a
        >
        <!-- <a href="/blog" class="flex justify-center w-1/3 md:w-auto text-gray-50" -->
        <!--   >Blog</a -->
        <!-- > -->
      </div>

